---
layout: layouts/global.njk
title: Notes
---

<p>hello, this is shinjith,</p>
<p>
  a software engineer from kerala.<br />
  this is a small corner where i keep notes on various topics and<br />
  write blogs [very rarely].
</p>

<p>
  here you can discover notes on web development, cyber security, and other topics.<br />
  feel free to read and study anything from here.<br />
  sorry, contributions are not currently accepted :(.
</p>

<p>
  want to know me more? checkout at <a class="text-brand underline" href="https://shinjith.dev">shinjith.dev</a>
</p>

<p>
  please <a class="underline" href="https://shinjith.dev/#contact">stay in touch</a>, good day!
</p>
