---
layout: layouts/global.njk
title: Notes
---

<div class="text-lg flex flex-col gap-5">
<p>hello, this is shinjith,</p>
<p>
  a software engineer from kerala.<br />
  this is a small corner where i keep a wiki on various topics and<br />
  write notes (blogs) [very rarely].
</p>

<p>
  here you can discover notes on web development, cyber security, and other topics.<br />
  feel free to read and study anything from here.<br />
  sorry, contributions are not currently accepted :(.
</p>

<p>
  want to know me more? checkout at <a class="text-brand underline" href="https://shinjith.dev">shinjith.dev</a>
</p>

<p>
  please <a class="underline" href="https://shinjith.dev/#contact">stay in touch</a>, good day!
</p>
<h3 class="text-2xl font-medium mt-5">Recent Updates</h3>
<ul class="space-y-3">
  {% for item in collections.recentlyModified %}
    <li>
      <a href="{{ item.url }}" class="flex gap-3">
      <span>-</span>
      {{ item.title }},
      <p class="text-[#fff]/80">
    {{ item.modifiedDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}

</p>
</a>
    </li>
  {% endfor %}
</ul>

</div>
