---
title: Notes
---

<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} | Shinjith</title>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="/bundle.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body
  class="max-w-4xl mx-auto bg-[#fafafa] dark:bg-dark-100 text-dark-100 dark:text-[#f8f9fa] transition-all font-serif">
  <nav class="flex py-5 px-4 justify-between items-center">
    <a href="https://notes.shinjith.dev"
      class="text-base md:text-xl font-semibold font-mono text-brand dark:text-brand-light flex items-baseline transition-all leading-none">
      /shinjith-dev<span class="blink">_</span>
    </a>

    <div class="flex font-mono gap-5 text-dark-100 dark:text-[#dee2e6]">
      <a href="/search" class="underline hover:no-underline">search</a>
      <a href="/wiki" class="underline hover:no-underline">wiki</a>
      <a href="/note" class="underline hover:no-underline">notes</a>
    </div>
  </nav>
  <main class="px-4 py-7 font-serif text-base">
   {{ content | safe }}
  </main>
  <script src="/bundle.js"></script>
</body>

</html>
